In [132]:
import pandas as pd
import numpy as np

## Setup the Data

we will use `CSV` for this training, what is `CSV`?

`CSV` is a shortcut for `Comma Seprated Values`, to read a `CSV` file we will use `pd.read_csv`

<p dir='rtl'>
سوف نستخدم ملف <code>CSV</code> قى هذا التدريب, ما هو <code>CSV</code>؟
</p>
<p dir='rtl'>ال <code>CSV</code> هو اختصار لكلمة <code>Comma Seprated Values</code>, لقراءة ملف <code>CSV</code> سوف نستخدم <code>pd.read_csv</code></p>

In [133]:
df = pd.read_csv(
    "e_commerce.csv",
    dtype={
        "order_id": np.int16,
        "quantity": np.int8,
        "shipping_days": np.int8,
    },
    true_values=['Yes'],
    false_values=['No'],
    index_col=0,
)
df['order_date'] = pd.to_datetime(df['order_date'])
df.head()

,customer_id,order_date,product_category,product_name,quantity,unit_price,discount_pct,payment_method,country,city,shipping_days,customer_segment,return_status
order_id,,,,,,,,,,,,,
1001,CU-201,2020-01-15,Electronics,Wireless Headphones,1,89.99,0.05,Credit Card,USA,New York,3,Premium,False
1002,CU-156,2020-01-16,Clothing,Men's Jeans,2,45.50,0.15,PayPal,UK,London,5,Standard,True
1003,CU-342,2020-01-18,Home & Kitchen,Blender,1,32.75,0.00,Debit Card,Canada,Toronto,7,Standard,False
1004,CU-201,2020-02-02,Electronics,Smartphone,1,699.00,0.10,Credit Card,USA,New York,2,Premium,False
1005,CU-499,2020-02-05,Books,Python Programming,3,24.99,0.20,PayPal,Australia,Sydney,10,Budget,False

**Explaination**

* **dtype**: columns data types
* **true_values**: a `list` of values to convert into `True`
* **false_values**: a `list` of values to convert into `False`
* **index_col**: take the column index `0` to be the index of this `DataFrame`
* `df['order_date'] = pd.to_datetime(df['order_date'])`: used to convert a column into a `datetime` date type

<p dir='rtl'>
<strong>شرح</strong>
</p>

<ul dir='rtl'>
    <li>
        <strong>dtype</strong>: أنواع بيانات الأعمدة
    </li>
    <li>
        <strong>true_values</strong>: قائمة من القيم لتحويلها إلى <code>True</code>
    </li>
    <li>
        <strong>false_values</strong>: قائمة من القيم لتحويلها إلى <code>False</code>
    </li>
    <li>
        <strong>index_col</strong>: استخدام العمود index <code>0</code> ليكون index لهذا <code>DataFrame</code>
    </li>
    <li>
        <code>df['order_date'] = pd.to_datetime(df['order_date'])</code>: يستخدم لتحويل عمود الى نوع <code>datetime</code>
    </li>
</ul>

In [134]:
df.info()

<class 'pandas.DataFrame'>
Index: 50 entries, 1001 to 1050
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       50 non-null     str
 1   order_date        50 non-null     datetime64[us]
 2   product_category  50 non-null     str
 3   product_name      50 non-null     str
 4   quantity          50 non-null     int8
 5   unit_price        50 non-null     float64
 6   discount_pct      50 non-null     float64
 7   payment_method    50 non-null     str
 8   country           50 non-null     str
 9   city              50 non-null     str
 10  shipping_days     50 non-null     int8
 11  customer_segment  50 non-null     str
 12  return_status     50 non-null     bool
dtypes: bool(1), datetime64[us](1), float64(2), int8(2), str(7)
memory usage: 4.2 KB

In [135]:
df.describe()

                order_date   quantity  unit_price  discount_pct  shipping_days
count                   50  50.000000   50.000000     50.000000      50.000000
mean   2020-09-03 06:14:24   1.340000  154.771000      0.115000       5.460000
min    2020-01-15 00:00:00   1.000000   15.990000      0.000000       2.000000
25%    2020-05-02 18:00:00   1.000000   36.622500      0.050000       3.000000
50%    2020-09-05 12:00:00   1.000000   62.495000      0.100000       5.000000
75%    2021-01-07 18:00:00   1.000000  127.617500      0.187500       7.000000
max    2021-05-10 00:00:00   4.000000  999.000000      0.300000      12.000000
std                    NaN   0.688388  230.801041      0.091613       2.557183

## Adding a column for item price after discount
we will use `insert` for this
<p dir='rtl'>
سوف نستخدم <code>insert</code> هنا
</p>

`insert(index, column_name, value)`

In [136]:
df.head()

,customer_id,order_date,product_category,product_name,quantity,unit_price,discount_pct,payment_method,country,city,shipping_days,customer_segment,return_status
order_id,,,,,,,,,,,,,
1001,CU-201,2020-01-15,Electronics,Wireless Headphones,1,89.99,0.05,Credit Card,USA,New York,3,Premium,False
1002,CU-156,2020-01-16,Clothing,Men's Jeans,2,45.50,0.15,PayPal,UK,London,5,Standard,True
1003,CU-342,2020-01-18,Home & Kitchen,Blender,1,32.75,0.00,Debit Card,Canada,Toronto,7,Standard,False
1004,CU-201,2020-02-02,Electronics,Smartphone,1,699.00,0.10,Credit Card,USA,New York,2,Premium,False
1005,CU-499,2020-02-05,Books,Python Programming,3,24.99,0.20,PayPal,Australia,Sydney,10,Budget,False

In [137]:
unit_price_after_discount = np.round(df['unit_price'] * (1 - df['discount_pct']), 2)

df.insert(7, "unit_price_after_discount", unit_price_after_discount)
df.insert(8, "total_price_after_discount", unit_price_after_discount * df['quantity'])

In [138]:
df.head()

,customer_id,order_date,product_category,product_name,quantity,unit_price,discount_pct,unit_price_after_discount,total_price_after_discount,payment_method,country,city,shipping_days,customer_segment,return_status
order_id,,,,,,,,,,,,,,,
1001,CU-201,2020-01-15,Electronics,Wireless Headphones,1,89.99,0.05,85.49,85.49,Credit Card,USA,New York,3,Premium,False
1002,CU-156,2020-01-16,Clothing,Men's Jeans,2,45.50,0.15,38.67,77.34,PayPal,UK,London,5,Standard,True
1003,CU-342,2020-01-18,Home & Kitchen,Blender,1,32.75,0.00,32.75,32.75,Debit Card,Canada,Toronto,7,Standard,False
1004,CU-201,2020-02-02,Electronics,Smartphone,1,699.00,0.10,629.10,629.10,Credit Card,USA,New York,2,Premium,False
1005,CU-499,2020-02-05,Books,Python Programming,3,24.99,0.20,19.99,59.97,PayPal,Australia,Sydney,10,Budget,False

### getting the total sales

In [139]:
df['total_price_after_discount'].sum().round(2)

np.float64(7717.21)

## Counting Values

In [140]:
df['product_category'].value_counts().astype(np.int8)

product_category
Electronics       14
Clothing          12
Home & Kitchen    12
Books             12
Name: count, dtype: int8

In [141]:
df['product_name'].value_counts().astype(np.int8).info()

<class 'pandas.Series'>
Index: 45 entries, Blender to Blockchain Basics
Series name: count
Non-Null Count  Dtype
--------------  -----
45 non-null     int8
dtypes: int8(1)
memory usage: 405.0+ bytes

In [142]:
df['payment_method'].value_counts().astype(np.int8)

payment_method
Credit Card    20
PayPal         16
Debit Card     14
Name: count, dtype: int8

In [143]:
df['country'].value_counts().astype(np.int8)

country
USA          20
UK            9
Canada        9
Germany       6
Australia     4
France        2
Name: count, dtype: int8

In [144]:
df['city'].value_counts().astype(np.int8)

city
New York     12
London        9
Toronto       8
Chicago       8
Berlin        6
Sydney        4
Paris         2
Vancouver     1
Name: count, dtype: int8

In [145]:
df['customer_segment'].value_counts().astype(np.int8)

customer_segment
Premium     20
Standard    20
Budget      10
Name: count, dtype: int8

In [146]:
df.loc[df['return_status'] == True, ['return_status']].value_counts().astype(np.int8)

return_status
True             7
Name: count, dtype: int8

In [147]:
df.loc[df['customer_segment'] == "Premium", ['city']].value_counts().astype(np.int8)

city
New York    12
Chicago      8
Name: count, dtype: int8

In [148]:
df.loc[df['customer_segment'] == "Standard", ['country', 'city']].value_counts().astype(np.int8)

country  city
UK       London       9
Canada   Toronto      8
France   Paris        2
Canada   Vancouver    1
Name: count, dtype: int8

In [149]:
df.loc[df['customer_segment'] == "Budget", ['country', 'city']].value_counts().astype(np.int8)

country    city
Germany    Berlin    6
Australia  Sydney    4
Name: count, dtype: int8

## Getting the tallest duration for `shipping_days`
we have 2 ways

1. By `idxmax`
2. By `Boolean Filter`

In [150]:
df.head()

,customer_id,order_date,product_category,product_name,quantity,unit_price,discount_pct,unit_price_after_discount,total_price_after_discount,payment_method,country,city,shipping_days,customer_segment,return_status
order_id,,,,,,,,,,,,,,,
1001,CU-201,2020-01-15,Electronics,Wireless Headphones,1,89.99,0.05,85.49,85.49,Credit Card,USA,New York,3,Premium,False
1002,CU-156,2020-01-16,Clothing,Men's Jeans,2,45.50,0.15,38.67,77.34,PayPal,UK,London,5,Standard,True
1003,CU-342,2020-01-18,Home & Kitchen,Blender,1,32.75,0.00,32.75,32.75,Debit Card,Canada,Toronto,7,Standard,False
1004,CU-201,2020-02-02,Electronics,Smartphone,1,699.00,0.10,629.10,629.10,Credit Card,USA,New York,2,Premium,False
1005,CU-499,2020-02-05,Books,Python Programming,3,24.99,0.20,19.99,59.97,PayPal,Australia,Sydney,10,Budget,False

### By `idxmax`

In [151]:
df.loc[df['shipping_days'].idxmax()]

customer_id                                CU-802
order_date                    2020-04-01 00:00:00
product_category                         Clothing
product_name                        Kids' T-shirt
quantity                                        4
unit_price                                  15.99
discount_pct                                  0.3
unit_price_after_discount                   11.19
total_price_after_discount                  44.76
payment_method                         Debit Card
country                                   Germany
city                                       Berlin
shipping_days                                  12
customer_segment                           Budget
return_status                               False
Name: 1010, dtype: object

### By `Boolean Filter`

In [152]:
df[df['shipping_days'] == df['shipping_days'].max()]

,customer_id,order_date,product_category,product_name,quantity,unit_price,discount_pct,unit_price_after_discount,total_price_after_discount,payment_method,country,city,shipping_days,customer_segment,return_status
order_id,,,,,,,,,,,,,,,
1010,CU-802,2020-04-01,Clothing,Kids' T-shirt,4,15.99,0.3,11.19,44.76,Debit Card,Germany,Berlin,12,Budget,False